:root {
  --primary-color: #ffffff;
  --primary-text-color: #2e2f42;
  --second-text-color: #434455;
  --hover-effect-color: #5861c3;
  --backgrounds-color: #f4f4fd;
  --botton-background-color: #404bbf;
  --botton-hover-color: #4d5ae5;
  --footer-p-color: #e7e9fc;
  --second-font-weight: 500;
  --header-font-weight: 700;
  --primary-width: 1440px;
  --primary-gap: 8px;
  --primary-margin-bottom: 32px;
  --left-margin: 24px;
  --top-margin: 48px;
  --size-16px: 16px;
}

/* common style values */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;

  font-family: "Roboto", "sans-serif";
  font-size: var(--size-16px);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

h2 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

/* header */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: var(--primary-color);
}

.header .container {
  display: flex;
}

.header-logo {
  margin-right: 77px;
}

.header .logo-part1 {
  line-height: 1.33;
}

.logo-part1,
.logo-part2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}

.header .logo-part1,
.navigation-link,
.address-header {
  display: block;
  padding-top: var(--left-margin);
  padding-bottom: var(--left-margin);
}

.logo-part1 {
  color: var(--hover-effect-color);
}

.logo-part2 {
  color: var(--primary-text-color);
}

.logo-part1:hover,
.logo-part1:hover,
.address-header:hover,
.logo-part1:focus,
.logo-part1:focus,
.address-header:focus {
  color: var(--hover-effect-color);
}

.navigation-list {
  display: flex;
}

.navigation-item+.navigation-item {
  margin-left: 40px;
}

.navigation-link {
  font-weight: var(--second-font-weight);
  color: var(--primary-text-color);
  text-decoration-line: none;
  line-height: 1.5;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--second-text-color);
}

.navigation-link:active {
  color: var(--botton-hover-color);
}

.container-address {
  margin-left: auto;
}

.address-item:not(:last-child) {
  margin-right: 40px;
}

.address-header {
  color: var(--second-text-color);
  line-height: 1.5;
}

.address-list {
  display: flex;
  margin-left: auto;
}

/* "Main Page" */
.main {
  background-color: var(--primary-color);
}

/* "hero" */
.hero {
  margin: 0 auto;
  text-align: center;
}

.overlay {
  padding-top: 192px;
  padding-bottom: 192px;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  min-height: 603px;

  background-image: linear-gradient(to right,
      rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.hero .container {
  width: 522px;
}

.hero,
.footer {
  background-color: var(--primary-text-color);
}

.site-theme {
  width: 492px;
  font-weight: var(--header-font-weight);
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-color);
}

.filter-button {
  font-family: inherit;
  font-weight: var(--second-font-weight);
  font-size: var(--size-16px);
  line-height: 1.5;
  background-color: var(--backgrounds-color);
  color: var(--botton-hover-color);
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.hero .filter-button {
  display: inline;
  text-align: center;

  width: 170px;
  height: 51px;
  margin-top: var(--top-margin);

  line-height: 1.17;
  background-color: var(--hover-effect-color);
  color: var(--primary-color);

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .filter-button:hover,
.hero .filter-button:focus {
  background-color: var(--hover-effect-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero .filter-button:active {
  background-color: var(--botton-background-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* section "peculiarities" */
.peculiarities-list,
.service-list,
.team-cards-list,
.filter-list {
  display: flex;
}

.peculiarities,
.service,
.portfolio-main {
  background-color: var(--primary-color);
}

.peculiarities-item::before {
  display: flex;
  content: "";
  height: 112px;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 8px;
  background-color: var(--backgrounds-color);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
  border-radius: 4px;


  /* content: "";
  display: block;
  align-items: center;
  justify-content: center;
  height: 112px;

  background-color: var(--backgrounds-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px; */
}

/* padding: 24px 100px; */

/* мусор */
/* .peculiarities-svg::before {
  width: 64px;
  height: 64px;
} */

.icon-strategy::before {
  background-image: url("../images/antenna.svg");
  /* background-image: url('C:/Users/АДМИН/Desktop/Служебные/Доп мне/Для HTML/goit-markup-hw-04/imagesicons.svg#antenna'); */
  /* background-image: url("../images/img1.jpg"); */
  /* background-image: url('../images/icons.svg#antenna'); */
}

.icon-punctuality::before {
  background-image: url("../images/clock.svg");
}

.icon-diligence::before {
  background-image: url("../images/diagram.svg");
}

.icon-technologies::before {
  background-image: url("../images/astronaut.svg");
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-section {
  text-align: center;
  margin-bottom: 72px;

  font-weight: var(--header-font-weight);
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color);
}

.list-header {
  font-weight: var(--header-font-weight);
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-text-color);
}

.paragraph-text {
  margin-top: var(--primary-gap);
  color: var(--second-text-color);
}

.peculiarities-item:not(:last-child),
.service-item:not(:last-child),
.card:not(:last-child),
.filter-item:not(:last-child),
.team-cards .svg-item:not(:last-child) {
  margin-right: var(--left-margin);
}

/* section "service" */
.service {
  padding-bottom: 120px;
}

.paragraph-text,
.text-explanation {
  font-size: var(--size-16px);
  line-height: 1.5;
}

/* section "team-cards" */
.team-cards {
  padding-top: 120px;
  text-align: center;
  background-color: var(--backgrounds-color);
}

.team-cards-list .card {
  background-color: var(--primary-color);
}

.card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-block {
  padding: 32px 0px 36px 0px;
}

.f-size {
  font-size: 0;
}

.card-block .f-size {
  margin-top: 12px;
}

.svg-item {
  display: inline-flex;
}

.div-card {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  contain: content;
  /* background-color: var(--botton-hover-color); */
  border-radius: 50%;
}

.card-block .div-card {
  background-color: var(--botton-hover-color);
}


.div-card:hover,
.div-card:focus,
.div-card:active,
.footer .div-card:hover,
.footer .div-card:focus,
.footer .div-card:active {
  background-color: #31D0AA;
}


.card-svg {
  width: 16px;
  height: 16px;
}














/* 
.social-networks-item {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
} */

/* .card-block .social-networks-item {
  margin-top: 12px;
  background-color: var(--botton-hover-color);
}

.social-networks-item:hover,
.social-networks-item:focus,
.social-networks-item:active,
.footer-list .social-networks-item:hover,
.footer-list.social-networks-item:focus,
.footer-list.social-networks-item:active {
  background-color: #31D0AA;
} */

.icon-card {
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

/* "Customers" */




/* ----------------------- */









/* "footer" */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
}

.footer-list {
  display: flex;
}

.footer .logo-part2 {
  color: var(--backgrounds-color);
}

.footer .logo-part1,
.footer .logo-part2 {
  line-height: 1.174;
}

.text-explanation {
  margin-top: var(--size-16px);
  width: 264px;
  color: var(--footer-p-color);
}

.social-media-item {
  margin-left: 120px;
}

.social-media-header {
  color: var(--primary-color);
}

.footer .svg-item:not(:last-child) {
  margin-right: var(--size-16px);
}

.footer-list .f-size {
  margin-top: var(--size-16px);
}

.footer .div-card {
  background-color: rgba(255, 255, 255, 0.1);
}

/* "Portfolio page"  */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  margin-top: 2px;
}

.portfolio-div {
  display: flex;
  flex-wrap: wrap;
}

/* "filter-list" */
.filter-list,
.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-main .filter-button {
  padding: 12px var(--left-margin);

  border: 1px solid var(--footer-p-color);
  border-radius: 4px;
}

.portfolio-main .filter-button:hover,
.portfolio-main .filter-button:focus {
  background-color: var(--botton-hover-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

/* "project-cards" */
.project-cards {
  margin-top: 72px;
}

.project-cards-item {
  flex-basis: calc((100% - 2 * var(--left-margin)) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-cards-item:not(:nth-child(3n)) {
  margin-right: var(--left-margin);
}

.project-cards-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.project-card-link {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-card-block {
  padding: var(--primary-margin-bottom) var(--size-16px);

  border-right: 0.5px solid var(--backgrounds-color);
  border-left: 0.5px solid var(--backgrounds-color);
  border-bottom: 0.5px solid var(--backgrounds-color);
}









/* 
.links {
  display: flex;
  /* display: inline-block; */
/* align-items: center; */
/* text-align: center;
  justify-content: center; */
/* flex-basis: calc((100% - 5 * var(--left-margin)) / 6);
  background-color: aqua;
  width: 168px;
  height: 88px; */
/* padding: 16px 32px; */

/* } */



/* "Customers" */
.customers-list {
  /* display: inline-flex; */
  display: flex;
  justify-content: center;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-item:not(:last-child) {
  margin-right: 24px;
}

/* .icon-links .customers-svg:hover {
  fill: #31D0AA;
} */

/* .dd {
  width: 100px;
  height: 50px;

} */

.icon-links {
  content: "";
  display: block;
  /* width: 168px;
  height: 88px; */
  width: 104px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;

  fill: #8E8F99;
}

.customers-svg {
  display: block;
  /* width: 168px;
  height: 88px; */

  width: 104px;
  height: 56px;
  /* contain: content; */


  /* padding: 16px 32px; */
  /* border: 1px solid #8E8F99;
  border-radius: 4px; */
  /* fill: red; */
}

.icon-links:hover,
.icon-links:focus,
.icon-links:active {
  border-color: var(--botton-hover-color);
  fill: var(--botton-hover-color);
}



.link-client {
  content: "";

  /* display: inline-block; */
  /* align-items: center; */
  /* margin: 0;
  padding: 0; */
  /* width: 104px;
  height: 66px; */
  /* flex-basis: calc((100% - 5 * var(--left-margin)) / 6); */
  /* background-color: aqua; */
  /* background-image: url("../images/icons.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}


/* .ddd {
  display: block;
  list-style: none;
  list-style-image: none;
} */
/* 
.action {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  contain: content;

  outline: 1px solid black;
  /* list-style: none; */
/* } */
/* 
.button2 {
  padding: 0;
  border: none;
  margin-right: 50px;
  width: 250px;
  height: 150px;
  padding: 5px;
  background-color: orange;
}


.button2-icon {
  width: 170px;
  height: 80px;

  stroke: #404bbf;
  fill: red;
} */